@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@600 & family= Shadows+Into+Light & display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../img/black-coffee-g525cfe77a_1280.jpg ) ;
    background-size: cover;
    

}
header{ 
    
    height: auto;
    width: auto;
    background-color: #11f1a6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2351edc7' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    padding: 10px;
    font-family: 'Shadows Into Light';
    border: 1px solid black;    
   
}

.header1{
    display: flex;
    flex-wrap: nowrap;
    
}
.header1 img{
    flex: 1;
    width: 100px;
    animation-name: ampliacion;
    animation-duration: 4s;
    
    

}

@keyframes ampliacion {
    from {right: 100% ;
        width: 200%;
    }
 
    
}
.headerfrase{
    
    font-size: 18px;
    align-self: center;
    text-align: center;
    padding: 12px; 
    flex: 1;
    font-weight: 900;
    transform: rotate(6deg);
    animation-name: aparicion;
    animation-duration: 10s;
    
   

}
@keyframes aparicion {
   0% {
    opacity: 0;
   }
   50%{
    opacity: 0;
   }
 100%{
    opacity: 1;
 }
    
}


nav{
    background-color: #11f1a6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2351edc7' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    width: 100%;
    border: 1px solid black;
    animation-name: ampliacion;
    animation-duration: 5s;
    
    

}
@keyframes ampliacion {
    from {right: 100% ;
        width: 200%;
    }
}


nav .lista{
    display: flex;
    flex-direction: column;
    
  
}

li {
    font-size: 13px;
    font-family: 'Shadows Into Light', cursive;
    border: 1px solid black; 
    padding: 5px;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    
    
}

a{
    text-decoration: none;
}

a:hover{ 
    text-shadow: 3px 3px 3px black;
}
section{
width: auto;
height: auto;
font-weight: 900;
margin: 1cm;
}


form {
    
    
    background-color: #fbfbfb; 
    border-top: 3px dotted green;
    border-bottom: 2px dotted blue;
    border-left: 2px dotted red;
    border-right: 2px dotted yellow;
    background-color: rgb(175, 224, 175);
    font-size: 18px;
    box-shadow: 10px 5px 5px black;
    max-width: 500px;
	padding:16px;
	border-radius:10px;
	margin:auto;
    
	

}

h2{
	font-size: 30px;  
	text-align: center; 
	padding-bottom: 10px; 
    font-family: 'Shadows Into Light';
}

label{
    display: block; 
    font-family: 'Shadows Into Light';
    text-shadow: 10px 5px 10px gold;   
   
}

  input{ 
    background-color: #fbfbfb; 
    width: 100%; 
	height: auto; 
	border-radius: 5px;  
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 10px; 
    border-top: 3px dotted green;
    border-bottom: 2px dotted blue;
    border-left: 2px dotted red;
    border-right: 2px dotted yellow;
    font-family: 'Shadows Into Light';
    box-shadow: 10px 5px 5px black;
    font-size: 18px;
   
    
}

input:hover{
    transform: scale(1.06);
}

  textarea{
    background-color: #fbfbfb; 
    width: 100%; 
    height: 100px; 
    border-radius: 5px;  
    margin-top: 5px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
    border-top: 3px dotted green;
    border-bottom: 2px dotted blue;
    border-left: 2px dotted red;
    border-right: 2px dotted yellow;
    font-family: 'Shadows Into Light';
    box-shadow: 10px 5px 5px black;
    font-size: 18px;
}
textarea:hover{
    transform: scale(1.06);
}

  button{
    font-size: 15px;
    height: 50px; 
    border-radius: 10px;  
    margin-top: 5px;  
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    border-top: 3px dotted green;
    border-bottom: 2px dotted blue;
    border-left: 2px dotted red;
    border-right: 2px dotted yellow;
    font-family: 'Shadows Into Light';
    text-shadow: 10px 5px 5px gold ; 
    margin-right: 1cm;
     
}

.w1 {
    color: red;
}
.w2 {
    color: blue;
}
.w3 {
    color: yellow;
}
.w4 {
    color: green;
}
.w5 {
    color: rgb(255, 60, 0);
}
.w6 {
    color: palevioletred;
}
.w7 {
    color: purple;
}
.w8 {
    color: rgb(226, 36, 147);
}


footer{
    height: auto;
    width: 100%;
    background-color: #11f1a6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%2351edc7' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
    padding: 10px;
    font-family: 'Shadows Into Light';
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px  black ;
 
}

.derechos {
    font-size: 15px;
    text-align: left;
    color:red;
}

.pie {    
    font-size: 30px;
    word-spacing: 20px;
    border: 0cm;
}

.pie a:hover{
    text-shadow: 3px 3px 3px black;
}

button:hover{
    background-color: pink;
    text-shadow: 3px 3px 3px black;
}

.subir {
    width: 40px;
    height: 40px;
    color: red ;
    float: right;
    position: fixed;
    bottom: 80px;
    right: 30px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 10px 5px 5px black;
    text-shadow: 3px 3px 3px black;
}

@media only screen and (min-width:768px) {

        .headerfrase{
    
            font-size: 25px;
        }
        li{
           
            font-size: 20px;
            
           
        }
        h1{
            font-size: 25px;
        }
        h2{font-size: 25px;}
        article{font-size: 25px;}

    


}
@media only screen and (min-width:1200px) {
 
    .headerfrase{
    
        font-size: 30px;
    }
    nav .lista{
        flex-direction: row;
        justify-content: space-evenly;
        border: solid 1px black;
        
    }

    li{
        display: inline;
        font-size: 22px;
        border: 0cm;
       
    }

    h1{
        font-size: 30px;
    }
    h2{font-size: 30px;}
    article{font-size: 30px;}
   
    
    
   
    
 
}    